@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Facebook";
  src: url("/fb.woff2") format("woff2"),;
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
.fa-triangle-exclamation {
  color: red;
  @apply absolute right-3 top-7
}

.bluified {
  filter: brightness(0) saturate(100%) invert(41%) sepia(40%) saturate(1844%) hue-rotate(193deg) brightness(101%) contrast(93%);
}
}