@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Facebook";
  src: url("/fb.woff2") format("woff2"),;
  font-weight: normal;
  font-style: normal;
}

i {
  color: red;
  @apply absolute right-3 top-7
}
